{% extends 'base.html'%}

{% block content %}
<div class="container mt-5">
    <h1>Ajuda e Informações</h1>
    <form action="mailto:contato@inclutech.org" method="post" enctype="text/plain">
        <div class="mb-3">
            <label for="nome" class="form-label">Seu nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Seu e-mail</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="mensagem" class="form-label">Mensagem</label>
            <textarea class="form-control" id="mensagem" name="mensagem" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-sucess">Enviar</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Voltar</a>
  </div>
{% endblock %}