{% extends "base.html"%}

{% block content %}
     <div class="col-md-10 p-4">
        <div id="image-galery" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for caminho, descricao, id in imagens %}
            <div class="col">
                <div class="image-card text-center">
                    <img src="{{ url_for('static', filename=caminho.split('static/')[1]) }}" class="card-img-fixed mb-2">
                    <p>{{ descricao }}</p>
                    
                    <form action="{{ url_for('delete', imagem_id=id) }}" 
                          method="POST" 
                          onsubmit="return confirm('Tem certeza que deseja excluir esta imagem?')">

                        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                    </form>
                </div>
            </div>
              {% endfor %}
            </div>
        </div>
     </div>
 {% endblock %}    