{% extends 'base.html' %}

{% block content %}
  <h2 class="mb-4">Sobre o Projeto</h2>
  <p>
    Esta aplicação foi criada com o objetivo de auxiliar cuidadores e profissionais da saúde a armazenar, vizualizar e gerenciar imagens relacionadas as próteses e outros dispositivos assistivos utilizados pelos pacientes.
  </p>
  <p>
    Desenvolvido por uma equipe comprometida com a inclusão e acessibilidade, o sistema é simples, direto e voltado ao uso cotidiano de quem precisa lidar com imformações visuais de maneira rápida e segura.
  </p>

  {% endblock %}
